@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

input, button, textarea, select {
  font: inherit;
}

ol, ul {
	list-style: none;
}

img, picture, video, canvas, svg {
  display: block;
  width: 100%;
}

body {
  font-family: "Red Hat Display", sans-serif;
  background: #E0E8FF;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(./images/pattern-background-mobile.svg);
  background-repeat: no-repeat;
  background-size: 140% 32%;
}

.main-container {
  border-radius: 20px;
  background: #FFF;
  max-width: 20.4375rem;
}

.main-container img {
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}

.content {
  padding: 2rem 1.5rem 2rem 1.5rem;
  color: #717FA6;
}

.title {
  color: #1F2E55;
  font-size: 1.375rem;
  font-weight: 900;
  text-align: center;
  margin-bottom: 1rem;
}

.main-paragraph {
  font-size: 0.9375rem;
  font-weight: 500;
  line-height: 1.66;
  text-align: center;
  margin-bottom: 1.5rem;
}

.price-container {
  background-color: #F7F9FF;
  border-radius: 11px;
  display: flex;
  padding: 1rem;
  align-items: center;
  margin-bottom: 1.5rem;
}

.price-container img {
  display: inline-block;
  max-width: 3rem;
  margin-right: 1.25rem;
}

.plan {
  display: flex;
  flex-direction: column;
  margin-right: 3.125rem;
  font-size: 0.875rem;
}

.plan span {
  color: #1F2E55;
  font-weight: 900;
}

.price-container button {
  border: none;
  background: none;
  color: #382AE1;
  text-decoration: underline;
  font-weight: 700;
  display: inline-block;
  font-size: 0.8125rem;
}

.payment-button {
  display: block;
  background: #382AE1;
  color: #FFF;
  border-radius: 11px;
  padding: 0.9375rem 4rem;
  font-size: 0.9375rem;
  font-weight: 900;
  box-shadow: 0 20px 20px rgba(56, 42, 225, 0.2);
  margin-bottom: 1.5rem;
  text-align: center;
}

.cancel-button {
  color: #717FA6;
  font-weight: 900;
  font-size: 0.9375rem;
  margin: 0 auto;
  display: block;
  margin: 0 auto;
  text-align: center;
}

@media (min-width: 600px) {

  body {
    background-image: url(./images/pattern-background-desktop.svg);
  }

  .main-container {
    max-width: 450px;
  }

  .content {
    padding: 2.8125rem 3rem 3rem 3rem;
  }

  .title {
    font-size: 1.75rem;
    margin-bottom: 1.0625rem;
  }

  .main-paragraph {
    font-size: 1rem;
    margin-bottom: 1.25rem;
  }

  .price-container {
    margin-bottom: 2rem;
    padding: 1.5625rem 1.5rem;
  }

  .plan {
    font-size: 1rem;
    gap: 6px;
  }

  .price-container button {
    font-size: 0.875rem;
  }

  .payment-button {
    margin-bottom: 2rem;
  }


}

